Repository fga-eps-mds/2021.1-Multilind-Docs, pull requests merged in 2021-08, with the labels that each got.

#8 Add Issue Template
  ISSUE_TEMPLATE/bug_report.md
Labels: documentation, sprint 0

#11 #2 - treinamento javascript
  docs/.nojekyll
  docs/Dojos/assets/JS/index.html
  docs/Dojos/assets/JS/scripts.js
  docs/Dojos/assets/JS/styles.css
  docs/Dojos/assets/JS/teste1.md
  docs/Dojos/dojos.md
  docs/Index/sprintsIndex.md
  docs/README.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/results/sprint0.md
  docs/_sidebar.md
  docs/img/gradeHoraria.png
  docs/img/quadroConhecimento/quadro0a.png
  docs/index.html
Labels: documentation

#12 Add PR Template
  PR_TEMPLATE/pr_template.md
Labels: documentation

#14 13 metodologias ferramentas
  docs/Dojos/javascript.md
  docs/Project/methodology.md
  docs/Sprints/planning/sprint0.md
  docs/_sidebar.md
Labels: documentation

#16 Adição da documentação do dojo de Git
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/PR_TEMPLATE/pr_template.md
  docs/Dojos/git.md
  docs/_sidebar.md
Labels: documentation, treinamento

#15 Documentação do Treinamento de Scrum
  docs/Dojos/scrum.md
  docs/_sidebar.md
Labels: documentation, treinamento

#18 Adição Informações do Projeto no GitHub Pages
  PR_TEMPLATE/pr_template.md
  README.md
  docs/Project/methodology.md
  docs/README.md
  docs/_coverpage.md
  docs/assets/img/Cover-Image.jpg
  docs/assets/img/members/Carlos.jpg
  docs/assets/img/members/Gabriel.jpeg
  docs/assets/img/members/Helder.jpg
  docs/assets/img/members/Herick.jpeg
  docs/assets/img/members/Ingrid.jpg
  docs/assets/img/members/Isadora.jpg
  docs/assets/img/members/Micaella.jpg
  docs/assets/img/members/Pedro.jpeg
  docs/assets/img/members/Sofia.jpg
  docs/index.html
Labels: documentation

#19 #1 - Add doc for the training
  docs/Dojos/html-css.md
Labels: documentation

#21 Resultados Sprint 0
  docs/Dojos/git.md
  docs/Project/methodology.md
  docs/Sprints/results/sprint0.md
  docs/_sidebar.md
  docs/img/cumulativeFlow/cumulative0.png
  docs/img/healthCheck/health0.png
  docs/img/quadroConhecimento/quadro0b.png
Labels: documentation

#29 Planejamento Sprint 1
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint1.md
  docs/Sprints/results/sprint1.md
Labels: documentation, planning

#36 Documentação Lean 2
  docs/LeanInception/dia2.md
  docs/_sidebar.md
  docs/img/lean/dia2/jornada1.png
  docs/img/lean/dia2/jornada2.png
  docs/img/lean/dia2/jornada3.png
  docs/img/lean/dia2/persona1.png
  docs/img/lean/dia2/persona2.png
  docs/img/lean/dia2/persona3.png
Labels: documentation, Lean Inception

#37 Documentação Lean 3
  docs/LeanInception/dia2.md
  docs/LeanInception/dia3.md
  docs/_sidebar.md
  docs/img/lean/dia3/avaliacao.png
  docs/img/lean/dia3/brainstorming-funcionalidades.png
  docs/img/lean/dia3/grafico-semaforo.png
  docs/img/lean/dia3/revisao.png
Labels: documentation, Lean Inception

#39 Planning s2
  docs/Index/dojosIndex.md
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint2.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/Sprints/results/sprint2.md
  docs/_sidebar.md
  docs/img/cumulativeFlow/cumulative1.png
  docs/img/healthCheck/health1.png
  docs/img/quadroConhecimento/quadro1.png
  docs/img/retrospective/retro0.png
  docs/img/retrospective/retro1.png
Labels: documentation, planning

#41 Dojo Node
  docs/Dojos/node.md
  docs/Index/dojosIndex.md
Labels: DOCS, TREINAMENTO

#40 Lean dia 1
  docs/LeanInception/dia1.md
  docs/_sidebar.md
  docs/img/lean/dia1/objetivo_produto.png
  docs/img/lean/dia1/produto_e_nao_e.png
  docs/img/lean/dia1/visao_produto.png
Labels: DOCS, LEAN INCEPTION

#38 Documentação do Lean 4
  docs/LeanInception/dia4.md
  docs/_sidebar.md
  docs/img/lean/dia4/mvp1.png
  docs/img/lean/dia4/mvp2.png
  docs/img/lean/dia4/mvp3.png
  docs/img/lean/dia4/sequenciador.png
Labels: DOCS, LEAN INCEPTION

#42 Dojo React Native
  docs/Dojos/node.md
  docs/Dojos/react.md
  docs/Index/dojosIndex.md
Labels: DOCS, TREINAMENTO

#44 Documentação do Protótipo de Baixa Fidelidade
  docs/Produto/prototipo-baixa.md
  docs/_sidebar.md
  docs/img/prototipoBaixa/fael1.png
  docs/img/prototipoBaixa/fael2.png
  docs/img/prototipoBaixa/fael3.png
  docs/img/prototipoBaixa/helder1.png
  docs/img/prototipoBaixa/helder2.png
  docs/img/prototipoBaixa/herick.png
  docs/img/prototipoBaixa/ingrid1.png
  docs/img/prototipoBaixa/ingrid2.png
Labels: DOCS, MDS

#45 Add MVP presentation
  docs/Project/mvp.md
  docs/_sidebar.md
Labels: DOCS

#56 Análise de Gantt
  docs/Project/analiseGantt.md
  docs/_sidebar.md
  docs/img/analiseGantt/CronogramaAtividades.pdf
Labels: DOCS, PLANNING

#59 Add context diagram
  docs/Project/docArquitetura.md
  docs/img/docArquitetura/diagrama_de_contexto.pdf
  docs/img/docArquitetura/diagrama_de_contexto.png
Labels: DOCS

#62 Adição dos diagramas de pacotes
  docs/Project/docArquitetura.md
  docs/img/docArquitetura/diagrama_de_pacote_assets.png
  docs/img/docArquitetura/diagrama_de_pacote_backend.png
  docs/img/docArquitetura/diagrama_de_pacote_frontend.png
  docs/img/docArquitetura/diagrama_de_pacotes_auth.png
Labels: DOCS, ARQ

#68 61 planejar s4
  docs/Index/sprintsIndex.md
  docs/Project/analiseRiscos.md
  docs/Project/docArquitetura.md
  docs/Sprints/planning/sprint3.md
  docs/Sprints/planning/sprint4.md
  docs/Sprints/results/sprint3.md
  docs/_sidebar.md
  docs/img/burndown/burndown3.png
  docs/img/cumulativeFlow/cumulative3.png
  docs/img/healthCheck/health3.png
  docs/img/quadroConhecimento/quadro3.png
  docs/img/retrospective/retro3.png
  docs/img/velocity/velocity3.png
Labels: DOCS, PLANNING

#69 Análise de Riscos
  docs/Project/analiseRiscos.md
  docs/_sidebar.md
  docs/assets/riscos/riscos.png
Labels: DOCS, PLANNING, ANALYTICS

#71 Template das US
  docs/Entrevistas/entrevista1.md
  docs/Entrevistas/entrevista4.md
  docs/Produto/historiasUsuario.md
  docs/Produto/requisitos.md
  docs/Project/analiseRiscos.md
  docs/Project/docArquitetura.md
  docs/US/F01.md
  docs/_sidebar.md
Labels: DOCS, REQUISITOS
