Repository fga-eps-mds/2021.1-Multilind-Docs, pull requests merged in 2021-11, with the labels that each got.

#177 Planejar S13
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-Mobile-App-2021-09-27-03.13.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-Mobile-App-2021-10-19-18.47.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-admin-website-2021-10-18-01.33.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-content-server-2021-09-27-03.22.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-content-server-2021-10-06-19.24.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-content-server-2021-10-19-18.48.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-files-server-2021-10-15-19.42.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-files-server-2021-10-15-20.05.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-user-server-2021-09-27-02.31.json
  analytics-raw-data/fga-eps-mds-2021.1-Multilind-user-server-2021-10-24-19.18.json
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint13.md
  docs/Sprints/results/sprint12.md
  docs/img/burndown/burndown12.png
  docs/img/cumulativeFlow/cumulative12.png
  docs/img/healthCheck/health12.png
  docs/img/quadroConhecimento/Equadro12.png
  docs/img/quadroConhecimento/quadro12.png
  docs/img/retrospective/retro12.png
  docs/img/riscos/riscos12.png
  docs/img/roadmap12.png
  docs/img/velocity/velocity12.png
Labels: DOCS, PLANNING, ANALYTICS, EPS

#179 166 metricas sonar cloud
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Admin-2021-10-18-01.33.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Admin-2021-11-04-00.35.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Content-2021-09-14-03:28.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Content-2021-09-27-03.22.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Content-2021-10-06-19.24.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Content-2021-10-19-18.48.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Content-2021-11-03-22:59.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Files-2021-09-14-03:28.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Files-2021-10-15-19.42.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Files-2021-10-15-20.05.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Files-2021-11-03-22:59.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-09-14-03:28.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-09-27-03.13.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-10-19-18.47.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-11-03-22:59.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_User-2021-09-14-03:28.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_User-2021-09-27-02.31.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_User-2021-10-24-19.18.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind_User-2021-11-03-22:59.json
  analytics/2021_1-Multilind_Admin/fga-eps-mds-2021_1-Multilind_Admin-2021-10-18-01.33.json
  analytics/2021_1-Multilind_Admin/fga-eps-mds-2021_1-Multilind_Admin-2021-11-04-00.35.json
  analytics/2021_1-Multilind_Content/fga-eps-mds-2021_1-Multilind_Content-2021-09-14-03:28.json
  analytics/2021_1-Multilind_Content/fga-eps-mds-2021_1-Multilind_Content-2021-09-27-03.22.json
  analytics/2021_1-Multilind_Content/fga-eps-mds-2021_1-Multilind_Content-2021-10-06-19.24.json
  analytics/2021_1-Multilind_Content/fga-eps-mds-2021_1-Multilind_Content-2021-10-19-18.48.json
  analytics/2021_1-Multilind_Content/fga-eps-mds-2021_1-Multilind_Content-2021-11-03-22:59.json
  analytics/2021_1-Multilind_Files/fga-eps-mds-2021_1-Multilind_Files-2021-09-14-03:28.json
  analytics/2021_1-Multilind_Files/fga-eps-mds-2021_1-Multilind_Files-2021-10-15-19.42.json
  analytics/2021_1-Multilind_Files/fga-eps-mds-2021_1-Multilind_Files-2021-10-15-20.05.json
  analytics/2021_1-Multilind_Files/fga-eps-mds-2021_1-Multilind_Files-2021-11-03-22:59.json
  analytics/2021_1-Multilind_Mobile_App/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-09-14-03:28.json
  analytics/2021_1-Multilind_Mobile_App/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-09-27-03.13.json
  analytics/2021_1-Multilind_Mobile_App/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-10-19-18.47.json
  analytics/2021_1-Multilind_Mobile_App/fga-eps-mds-2021_1-Multilind_Mobile_App-2021-11-03-22:59.json
  analytics/2021_1-Multilind_User/fga-eps-mds-2021_1-Multilind_User-2021-09-14-03:28.json
  analytics/2021_1-Multilind_User/fga-eps-mds-2021_1-Multilind_User-2021-09-27-02.31.json
  analytics/2021_1-Multilind_User/fga-eps-mds-2021_1-Multilind_User-2021-10-24-19.18.json
  analytics/2021_1-Multilind_User/fga-eps-mds-2021_1-Multilind_User-2021-11-03-22:59.json
  analytics/analytics.ipynb
  analytics/data/fga-eps-mds-2021_1-Multilind-ANALYSYS.csv
  analytics/data/fga-eps-mds-2021_1-Multilind-ANALYSYS.xlsx
  analytics/results.csv
Labels: ANALYTICS, EPS

#180 Change pontuation and add risk analysis
  docs/Project/analiseRiscos.md
  docs/Sprints/planning/sprint10.md
  docs/Sprints/planning/sprint11.md
  docs/Sprints/planning/sprint12.md
  docs/Sprints/planning/sprint13.md
  docs/Sprints/planning/sprint2.md
  docs/Sprints/planning/sprint3.md
  docs/Sprints/planning/sprint4.md
  docs/Sprints/planning/sprint5.md
  docs/Sprints/planning/sprint6.md
  docs/Sprints/planning/sprint7.md
  docs/Sprints/planning/sprint8.md
  docs/Sprints/planning/sprint9.md
  docs/Sprints/results/sprint10.md
  docs/Sprints/results/sprint11.md
  docs/Sprints/results/sprint12.md
  docs/Sprints/results/sprint2.md
  docs/Sprints/results/sprint3.md
  docs/Sprints/results/sprint4.md
  docs/Sprints/results/sprint5.md
  docs/Sprints/results/sprint6.md
  docs/Sprints/results/sprint7.md
  docs/Sprints/results/sprint8.md
  docs/Sprints/results/sprint9.md
Labels: ANALYTICS, EPS

#184 Add results s13 and analysis evm
  docs/Index/sprintsIndex.md
  docs/Project/evm.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint1.md
  docs/Sprints/planning/sprint10.md
  docs/Sprints/planning/sprint11.md
  docs/Sprints/planning/sprint12.md
  docs/Sprints/planning/sprint13.md
  docs/Sprints/planning/sprint2.md
  docs/Sprints/planning/sprint3.md
  docs/Sprints/planning/sprint4.md
  docs/Sprints/planning/sprint5.md
  docs/Sprints/planning/sprint6.md
  docs/Sprints/planning/sprint7.md
  docs/Sprints/planning/sprint8.md
  docs/Sprints/planning/sprint9.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/Sprints/results/sprint10.md
  docs/Sprints/results/sprint11.md
  docs/Sprints/results/sprint12.md
  docs/Sprints/results/sprint13.md
  docs/Sprints/results/sprint2.md
  docs/Sprints/results/sprint3.md
  docs/Sprints/results/sprint4.md
  docs/Sprints/results/sprint5.md
  docs/Sprints/results/sprint6.md
  docs/Sprints/results/sprint7.md
  docs/Sprints/results/sprint8.md
  docs/Sprints/results/sprint9.md
  docs/img/burndown/burndown13.png
  docs/img/cumulativeFlow/cumulative13.png
  docs/img/evm/analiseMVP.png
  docs/img/evm/analiseR1.png
  docs/img/evm/analiseRN.png
  docs/img/evm/analiseTOTAL.png
  docs/img/healthCheck/health13.png
  docs/img/quadroConhecimento/Equadro13.png
  docs/img/quadroConhecimento/quadro13.png
  docs/img/retrospective/retro13.png
  docs/img/riscos/riscos13.png
  docs/img/velocity/Screenshot from 2021-11-07 21-16-09.png
  docs/img/velocity/Screenshot from 2021-11-07 22-06-19.png
  docs/img/velocity/velocity13.png
Labels: DOCS, ANALYTICS, EPS
