Repository fga-eps-mds/2021.1-Multilind-Docs, pull requests merged in 2021-09, with the labels that each got.

#73 Added user stories from group 1
  docs/US/F01.md
  docs/US/F02.md
  docs/US/F03.md
Labels: US, MDS

#76 Bug fix user story
  docs/US/F01.md
  docs/US/F02.md
  docs/US/F03.md
Labels: US, MDS

#75 Requisitos e Priorização
  docs/Produto/historiasUsuario.md
  docs/Produto/requisitos.md
  docs/assets/requisitos/requisitosPriorização.pdf
Labels: DOCS, REQUISITOS, EPS

#78 Revisao US EPS/MDS
  docs/US/F02.md
  docs/US/F03.md
Labels: DOCS, MDS

#77 Revisao de US EPS/MDS
  docs/US/F04.md
  docs/US/F05.md
  docs/US/F06.md
Labels: DOCS

#79 65 modelagem do banco
  docs/Project/docArquitetura.md
  docs/Project/modelagemBancoDeDados.md
  docs/_sidebar.md
  docs/img/modelagemBancoDeDados/conceitual.brM3
  docs/img/modelagemBancoDeDados/conceitual.png
  docs/img/modelagemBancoDeDados/logico.brM3
  docs/img/modelagemBancoDeDados/logico.png
Labels: EPS, MDS, ARQ

#88 Planning Sprint 5
  CONTRIBUTING
  docs/Produto/historiasUsuario.md
  docs/Produto/requisitos.md
  docs/Project/analiseGantt.md
  docs/Project/docArquitetura.md
  docs/Project/planoComunicacao.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint5.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/Sprints/results/sprint2.md
  docs/Sprints/results/sprint3.md
  docs/Sprints/results/sprint4.md
  docs/US/E01.md
  docs/US/E02.md
  docs/US/E03.md
  docs/US/E04.md
  docs/US/E05.md
  docs/US/E06.md
  docs/assets/planItPoker/autenticacao.png
  docs/assets/planItPoker/conteudo.png
  docs/img/burndown/burndown4.png
  docs/img/cumulativeFlow/cumulative4.png
  docs/img/healthCheck/health4.png
  docs/img/quadroConhecimento/Equadro0.png
  docs/img/quadroConhecimento/Equadro0b.png
  docs/img/quadroConhecimento/Equadro1.png
  docs/img/quadroConhecimento/Equadro2.png
  docs/img/quadroConhecimento/Equadro3.png
  docs/img/quadroConhecimento/Equadro4.png
  docs/img/quadroConhecimento/quadro4.png
  docs/img/retrospective/retro4.png
  docs/img/velocity/velocity4.png
  docs/index.html
Labels: DOCS, PLANNING

#123 Documentação do backlog
  docs/Produto/backlog.md
  docs/_sidebar.md
  docs/assets/backlog/backlogV0.pdf
  docs/assets/backlog/backlogV1.pdf
  docs/assets/backlog/backlogV2.pdf
Labels: DOCS, BACKLOG, EPS

#124 Protótipo de Alta Fidelidade
  CONTRIBUTING
  analytics-raw-data/fga-eps-mds-2021_1-Multilind-Mobile-App-13-09-2021-19.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind-content-server-13-09-2021-19.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind-files-server-13-09-2021-19.json
  analytics-raw-data/fga-eps-mds-2021_1-Multilind-user-server-13-09-2021-19.json
  docs/Dojos/html-css.md
  docs/Produto/prototipo-alta.md
  docs/Project/docArquitetura.md
  docs/Project/planoMetricas.md
  docs/README.md
  docs/_coverpage.md
  docs/_sidebar.md
  docs/assets/img/Cover-Image.jpg
  docs/assets/img/Cover-Image.png
  docs/index.html
Labels: VALIDAÇÃO, EPS

#125 Documentação dos resultados da Sprint 5
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint5.md
  docs/Sprints/planning/sprint6.md
  docs/Sprints/results/sprint4.md
  docs/Sprints/results/sprint5.md
  docs/img/burndown/burndown5.png
  docs/img/cumulativeFlow/cumulative5.png
  docs/img/healthCheck/health0.png
  docs/img/healthCheck/health1.png
  docs/img/healthCheck/health2.png
  docs/img/healthCheck/health3.png
  docs/img/healthCheck/health4.png
  docs/img/healthCheck/health5.png
  docs/img/quadroConhecimento/Equadro5.png
  docs/img/quadroConhecimento/quadro5.png
  docs/img/retrospective/retro5.png
  docs/img/velocity/velocity5.png
Labels: DOCS, PLANNING, EPS

#126 add cost doc
  docs/Project/custos.md
  docs/_sidebar.md
Labels: DOCS, EPS

#127 Update database modeling
  docs/img/modelagemBancoDeDados/conceitual.brM3
  docs/img/modelagemBancoDeDados/conceitual.png
  docs/img/modelagemBancoDeDados/logico.brM3
  docs/img/modelagemBancoDeDados/logico.png
Labels: EPS, ARQ

#136 Planejamento Sprint 7
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint7.md
  docs/Sprints/results/sprint6.md
  docs/Sprints/results/sprint7.md
  docs/img/burndown/burndown6.png
  docs/img/cumulativeFlow/cumulative6.png
  docs/img/healthCheck/health6.png
  docs/img/quadroConhecimento/Equadro6.png
  docs/img/quadroConhecimento/quadro6.png
  docs/img/retrospective/retro.6png
  docs/img/retrospective/retro6.png
  docs/img/velocity/velocity6.png
Labels: DOCS, PLANNING, EPS

#137 Atualizacoes escopo
  docs/Produto/backlog.md
  docs/Produto/mvp.md
  docs/Project/docArquitetura.md
  docs/US/E02.md
  docs/US/E03.md
  docs/US/E04.md
  docs/assets/backlog/backlogV3.pdf
  docs/assets/mvp/entregaFinal.png
  docs/assets/mvp/mvp.png
Labels: DOCS, EPS

#142 Planejamento Sprint 8
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint7.md
  docs/Sprints/planning/sprint8.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/Sprints/results/sprint2.md
  docs/Sprints/results/sprint3.md
  docs/Sprints/results/sprint4.md
  docs/Sprints/results/sprint5.md
  docs/Sprints/results/sprint6.md
  docs/Sprints/results/sprint7.md
  docs/img/burndown/burndown7.png
  docs/img/cumulativeFlow/cumulative7.png
  docs/img/healthCheck/health7.png
  docs/img/quadroConhecimento/Equadro7.png
  docs/img/quadroConhecimento/quadro7.png
  docs/img/retrospective/retro7.png
  docs/img/riscos/riscos0.png
  docs/img/riscos/riscos1.png
  docs/img/riscos/riscos2.png
  docs/img/riscos/riscos3.png
  docs/img/riscos/riscos4.png
  docs/img/riscos/riscos5.png
  docs/img/riscos/riscos6.png
  docs/img/riscos/riscos7.png
  docs/img/velocity/velocity7.png
Labels: DOCS, PLANNING, EPS

#143 Canvas PBB
  docs/Produto/pbb.md
  docs/_sidebar.md
  docs/favicon.ico
  docs/index.html
Labels: DOCS, EPS
